* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transform: scale(1.1); */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.container {
  width: 300px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.timer {
  font-size: 48px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button.start {
  background-color: #4caf50;
  border: #4caf50 2px solid;
}
.button.start:hover {
  background-color: #fff;
  color: #4caf50;
  transition: ease, 0.5s;
}

.button.stop {
  background-color: #f44336;
  border: #f44336 2px solid;
}
.button.stop:hover {
  background-color: #fff;
  color: #f44336;
  transition: ease, 0.5s;
}


.button.reset {
  background-color: #2196f3;
  border: #2196f3 2px solid;
}
.button.reset:hover {
  background-color: #fff;
  color: #2196f3;
  transition: ease 0.5s;
}

.settings {
  margin-top: 20px;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.setting label {
  font-weight: bold;
}

.setting input[type="number"] {
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}